transformers
datasets
torch
accelerate
sentence-transformers
faiss-cpu
chromadb
openai
streamlit
gradio
numpy
pandas
PyPDF2
python-dotenv
tqdm
scikit-learn
nltk
PyMuPDF
sentence-transformers
peft
bitsandbytes
sentence-transformers
langchain
langchain-community
langchain-core
huggingface-hub
pydantic
